<article class="post">
    <div class="title">
        <a href="/posts/{{id}}">{{title}}</a>
        <span>Posted by {{user.username}} on {{format_date created_at}}</span>
    </div>
    <div class="post-content">
        <p>{{post_content}}</p>
    </div> 
</article>